* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Karla", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 400px;
  min-width: 400px;
  min-height: 400px;
  margin: auto;
  padding: 20px;
}

main {
  background-color: #F5F5F5;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.die {
  background-color: #FFFFFF;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  color: #2B283A;
  font-size: 21;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.die:active {
  transform: scale(0.98);
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 18px;
  place-items: center;
  margin-top: 30px;
}

.roll-button {
  background-color: #5035FF;
  color: #FFFFFF;
  width: 92px;
  height: 36px;
  border-radius: 4px;
  border: none;
  position: absolute;
  bottom: 34px;
}

.roll-button:active {
  transform: scale(0.98);
}

.rules-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 0px 10px;
}

.rules-container > h1 {
  margin: 0;
  margin-bottom: 10px;
  color: #2B283A;
  font-size: 26px;
  font-weight: 700;
}

.rules-container > p {
  margin: 0 15px;
  color: #4A4E74;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}