body {
    margin: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.avatar {
    width: 150px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #90e0ef;
    color: #03045e;
    border-bottom: 6px solid #caf0f8;
    border-radius: 15px;
    transform: scale(1.0);
    transition: transform 0.3s, border-bottom 0.3s;
}

.card:hover {
    transform: scale(1.05);
    border-bottom: 6px solid #03045e;
    transition: transform 0.3s, border-bottom 0.3s;
}

