body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: start;
    background-color: #21222A;
    padding: 0px;
    margin: 0px;
    height: 10%;
}

#main-content {
    background-color: #282D35;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 90%;
}

.main-title {
    margin: 148px 0px 0px 27px;
    padding: 0;
    font-weight: 700;
    font-size: 39px;
    align-self: start;
}

.list-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.main-facts-list {
    margin: 27px 0px 0px 74px;
    padding: 0;
    list-style-type:disc;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute; 
}

.back {
    z-index: 1;
}

.front {
    z-index: 2;
}

.list-background-image {
    right: 0px;
    top: 50%;
    transform: translateY(50%);
    height: 200px;
    position: absolute;
}

.main-facts-list li {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}

.main-facts-list li::marker {
    color: #61DAFB;
}

.nav-icon {
    width: 55px;
    margin-right: 15px;
    margin-left: 15px;
}

.nav-text {
    color: #61DAFB;
    font-weight: 700;
    font-size: 1.4rem;
    align-self: center;
}